* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100%;
}

#dice{
    transform: translateX(-50%);
    height: 100px;
   /* box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);*/
}

.control_panel{
    background-color: lightgrey;
}

.active_player{
    background-color: lightgray;
}